table{
    border-color: #ffd6a5;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    width: 1500px;
}
body{
    background-color: #ccdbfd;
}
img{
    width: 200px;
}
